@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-50: #008000;
  --color-primary-100: #b8ffb8;
  --color-primary-200: #8aff8a;
  --color-primary-300: #008000;
  --color-primary-400: #008000;
  --color-primary-500: #008000;
  --color-primary-600: #008000;
  --color-primary-700: #008000;
  --color-primary-800: #004700;
  --color-primary-900: #004700;
}

:root {
  --color-primary: #008000;
  --color-secondary: #004700;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
